/*------ Variables ------*/

:root {
  --font-family: Inter, sans-serif;

  --background-color: rgba(230, 230, 235, 1);
  --white: rgba(255, 255, 255, 1);
  --gray: rgba(185, 185, 195, 1);
  --light-gray: rgba(245, 245, 250, 1);
  --blue: rgba(35, 85, 145, 1);
  --light-blue: rgba(220, 230, 240, 1);
  --text-color: rgba(30, 35, 40, 1);
}

/*------ Base styles and reset ------*/

html, 
*, 
*::after, 
*::before {   
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html, 
body {
    height: 100%;
    width: 100%;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    font: 300 1rem/1.5 Inter, sans-serif;
    overflow-x: hidden;
}

/* Images */
img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Typography */

button {
  cursor: pointer;
  font: inherit;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

/* Tables */
table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

/* Focus style */

:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  border: none;
  outline: 2px solid var(--blue);
  outline-offset: 0;
}

/*------ Helper classes ------*/

.hidden-visually:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.horizontal-scroll {
  overflow-x: auto;
}

/*------ Typography ------*/

title {
  font-weight: 700;
}

.title--main {
  font-size: 1.75rem;
  line-height: 1.143;
  margin-bottom: 0.286em;
}

/*------ Responsive ------*/

@media only screen and (min-width:768px) {
  .title--main {
    font-size: 2rem;
    line-height: 1.25;
    margin-bottom: 0.25em;
  }
}

@media only screen and (min-width:960px) {
  .title--main {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 0.3em;
  }
}
